/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Yanone+Kaffeesatz:wght@500&display=swap');

/* Styles Chartist */

.ct-series-a .ct-line {
    /* Set the colour of this series line */
    stroke: red;
    /* Control the thikness of your lines */
    stroke-width: 5px;
    /* Create a dashed line with a pattern */
    stroke-dasharray: 10px 20px;
  }
  
  /* This selector overrides the points style on line charts. Points on line charts are actually just very short strokes. This allows you to customize even the point size in CSS */
.ct-series-a .ct-point {
    /* Colour of your points */
    stroke: red;
    /* Size of your points */
    stroke-width: 20px;
    /* Make your points appear as squares */
    stroke-linecap: square;
  }

body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: 'Pangolin', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: rgb(249, 249, 249);
    word-spacing: 5px;
    letter-spacing: 2px;
    overflow: auto;
}

h3 {
    font-size: 35px;
    color: rgb(11, 241, 45);
    text-align: center;
}

label > p {
    font-size: 25px;
}

/* Header classes */

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #2fbfa0;
    filter: drop-shadow(0px 0px 5px #0000009e);
    padding: 1%;
    min-height: 1%;
    max-height: 1%;
}

.header-container > h2 {
    color: #F2F5EA;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 300%;
    color: black;
}

/* Body classes */

.main-container {
    padding: 5%;
    background-color: #D6DBD2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.menu-container {
    padding: 2%;
    background-color: #187080;
    border: 10px solid #1d291d;
    border-radius: 40px 40px;
    box-shadow: 0px 0px 5px #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.menu-container > h2 {
    color: #F2F5EA;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 0px 2px 5px #000000;
}

.option {
    display: flex;
    flex-direction: row;
}

input[type="radio"] {
    visibility: visible;
}

article > h2 {
    color: #F2F5EA;
    font-size: 200%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-shadow: 0px 2px 5px #000000;
}

.button-container {
    padding: 2%;
    text-align: center;
    text-decoration: none;
    background-color: #2fbfa0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 5px solid #25977e;
    font-weight: bold;
    color: #F2F5EA;
    box-shadow: 0px 0px 5px #000000;
}

.button-container:hover {
    background-color: #2fbf49;
    border: 5px solid #27a23e;
}

.hide {
    display: none;
}

/* Footer classes */

.footer {
    padding: 3%;
    background-color: #2fbfa0;
}